---
import Layout from '@/layouts/layout.astro';
import NavBar from '@/components/navBar.tsx';
import LandingHero from '@/components/LandingHero.tsx';
import DataTable from '@/components/dataTable.tsx';
import { changeLanguage } from 'i18next';

changeLanguage('en');
---

<Layout>
  <div class='flex flex-col justify-center p-6 gap-6 max-w-screen-desktop'>
    <NavBar />

    <!-- HERO TITLE -->
    <div
      style={{
        display: 'flex',
        alignItems: 'stretch',
        justifyContent: 'space-between',
        height: '60vh',
      }}
    >
      <div
        style={{
          display: 'flex',
          flex: 1,
          flexDirection: 'column',
          justifyContent: 'center',
        }}
      >
        <h1 class='text-4xl lg:text-6xl font-bold'>
          Put a price on elective healthcare procedures.
        </h1>
        <br />
        <p>
          Just like you wouldn't buy a car, rent an apartment, or even order
          food without knowing the cost, you shouldn't just pay for elective
          healthcare.
        </p>
      </div>
      <div class='hidden md:block' style={{ flex: 1 }}>
        <img
          src={'https://static.turquoise.health/static/images/new-home-bannerImage.92c4de7d77ec.png'}
          alt='Hero background image'
          style={{
            objectFit: 'contain',
            display: 'block',
            position: 'absolute',
            'z-index': 0,
          }}
        />
      </div>
    </div>

    <h1 class='text-3xl font-bold' id='database'>Procedure Database</h1>
    <DataTable />
    <h1 class='text-3xl font-bold' id='aboutUs'>About Us</h1>
    <p>
      At Price Pulse, we're dedicated to bringing clarity to the world of
      elective procedures. Our mission is simple: to empower individuals with
      the knowledge they need to make informed decisions about their healthcare.
      We understand that navigating the cost of elective procedures can be
      daunting, which is why we've developed a comprehensive platform that
      provides transparent pricing information. With Price Pulse, patients can
      easily compare prices for a wide range of elective procedures, helping
      them find high-quality care that fits their budget. By prioritizing
      transparency and accessibility, we're reshaping the healthcare landscape,
      one procedure at a time. Join us on our journey towards a more transparent
      and equitable healthcare system with Price Pulse.
    </p>
    <div class='container mx-auto'>
      <h1 class='text-3xl font-bold pb-6' id='customers'>Our Customers</h1>
      <div class='flex flex-col md:flex-row md:space-x-12'>
        <div class='flex-1 mb-4 md:mb-0'>
          <h2 class='text-xl font-semibold mb-2'>For Providers</h2>
          <p class='mb-4'>
            For providers, our platform offers a distinct advantage by
            leveraging price transparency as a powerful competitive edge. You
            can seamlessly integrate this feature into your operations without
            the need to increase staffing or stretch your resources thin. By
            embracing transparency, you can enhance trust with your clientele
            and distinguish yourself in a crowded market. Learn more about how
            our solutions can revolutionize your approach to pricing and set you
            apart from the competition.
          </p>
        </div>
        <div class='flex-1 mb-4 md:mb-0'>
          <h2 class='text-xl font-semibold mb-2'>For Payers</h2>
          <p class='mb-4'>
            For payers, staying ahead of legislation and regulatory requirements
            is crucial in today's healthcare landscape. Our platform equips you
            with the tools and insights needed to navigate these challenges
            while also empowering you to make informed decisions that drive
            value-based care. With our innovative approach, you can confidently
            adapt to changing regulations while optimizing your strategies for
            improved patient outcomes. Discover how our solutions can help you
            stay proactive and efficient in an ever-evolving industry.
          </p>
        </div>
        <div class='flex-1'>
          <h2 class='text-xl font-semibold mb-2'>For Employers</h2>
          <p class='mb-4'>
            For employers, navigating the complexities of healthcare plans can
            be daunting. Our transparency-enabled products empower you to make
            informed decisions and shop smart for your organization's healthcare
            needs. By providing clear and comprehensive information on pricing
            and coverage options, we help you optimize your benefits offerings
            while maximizing value for both your company and your employees.
            Explore how our solutions can streamline the process and put you in
            control of your healthcare decisions.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
