---
import Layout from '@/layouts/layout.astro';
import NavBar from '@/components/navBar.tsx';
import DataTable from '@/components/dataTable.tsx';
import { changeLanguage } from 'i18next';

changeLanguage('en');
---

<Layout>
  <div class='flex flex-col justify-center p-6 gap-6 max-w-6xl'>
    <NavBar />
    <h1 class='text-3xl font-bold'>About our company</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue
      suscipit felis. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Nunc laoreet posuere odio, in
      placerat ex efficitur a. Pellentesque varius fringilla metus at interdum.
      Nulla dignissim varius turpis in consectetur. Nullam ullamcorper dapibus
      est, ac rutrum libero ornare id. Nullam sed massa et massa efficitur
      cursus in ac nisl. Etiam malesuada facilisis tempus. Etiam sollicitudin,
      sem at vulputate venenatis, est leo placerat arcu, vel commodo lectus mi
      ut elit. Praesent et semper nulla, ac iaculis purus. Ut a purus enim.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Donec purus magna, porttitor ac nulla non, imperdiet
      rhoncus massa. Vestibulum odio sapien, ultricies ut pellentesque sed,
      bibendum ac risus. Sed in congue velit. Duis non lacinia mi.
    </p>
    <h1 class='text-3xl font-bold'>Procedure Database</h1>

    <DataTable />
  </div>
</Layout>
