---
import { Icon } from 'astro-icon/components';
import { t } from 'i18next';

const date = new Date();
---

<footer
  class='bg-black bg-opacity-70 backdrop-blur-lg p-4 rounded-lg flex gap-4 justify-center relative shadow-large flex-col items-center'
>
  <div class='flex gap-4 flex-wrap text-white'>
    <a href='mailto:ysanghavi1@gmail.com'>{t('footer.contact')}</a>
  </div>
  <a
    aria-label='Site creation date'
    target='_blank'
    class='text-xs flex gap-2 items-center text-white'
    >@PricePulse <Icon name='logo' /> {date.getFullYear()}</a
  >
</footer>
